<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Headers and Meta Data –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Rowan Chapman">
    <meta name="description" content="">
    <meta name="keyphrases" content="">
    <meta name="keywords" content="">
    <!-- Favicon --------------–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" href="static/img/favicon.png">
    <!-- Humans TXT --------------––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link type="text/plain" rel="author" href="static/humans.txt">
    <!-- Style Sheets --------------––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/base.css">
    <!-- Font --------------––––––––––––––––––––––––––––––––––––---––––––-----––– -->
    <link href="" rel="stylesheet">

    <title>PROJECT NAME</title>
    <!--  End Header –––––––––––––––––-----------––––––––––––––––––––––––––-––––– -->
</head>
<body>
    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––----–––––-––– -->
    <p>
      Text here
    </p>
    <!-- Scripts --------------––––––––––––––––––––––––––––––––––––––––––------–– -->
    <script src="static/js/base.js"></script>

    <!-- End Document  –––––––––––––––––––––––––––––––––––––––––––––––––––----––– -->
</body>
</html>
